* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body.dark {
  background: #050b12;
  color: #00ffcc;
}

body.light {
  background: #f4f4f4;
  color: #111;
}

header, footer {
  padding: 15px;
  border-bottom: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 20px;
  display: grid;
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.card {
  border: 1px solid currentColor;
  padding: 15px;
  border-radius: 8px;
}

button {
  background: transparent;
  color: inherit;
  border: 1px solid currentColor;
  padding: 8px 14px;
  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  background: currentColor;
  color: #000;
}

.out {
  margin-top: 10px;
}

#map {
  height: 280px;
  margin-top: 10px;
}

textarea, input {
  width: 100%;
  background: transparent;
  color: inherit;
  border: 1px solid currentColor;
  margin-top: 5px;
  padding: 6px;
}

.terminal {
  background: rgba(0,0,0,0.4);
}

#terminal {
  height: 150px;
  overflow-y: auto;
  border: 1px solid currentColor;
  padding: 5px;
  margin-bottom: 5px;
}
